In [1]:
# Making a table showing constructor with the highest number of win in each track
import pandas as pd
results = pd.read_csv("D:/Mini Project/Results.csv")

In [2]:
results.shape

(25140, 18)

In [3]:
results.head(20)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
5,6,18,6,3,8,13,6,6,6,3.0,57,\N,\N,50,14,1:29.639,212.974,11
6,7,18,7,5,14,17,7,7,7,2.0,55,\N,\N,22,12,1:29.534,213.224,5
7,8,18,8,6,1,15,8,8,8,1.0,53,\N,\N,20,4,1:27.903,217.180,5
8,9,18,9,2,4,2,\N,R,9,0.0,47,\N,\N,15,9,1:28.753,215.100,4
9,10,18,10,7,12,18,\N,R,10,0.0,43,\N,\N,23,13,1:29.558,213.166,3
10,11,18,11,8,18,19,\N,R,11,0.0,32,\N,\N,24,15,1:30.892,210.038,7
11,12,18,12,4,6,20,\N,R,12,0.0,30,\N,\N,20,16,1:31.384,208.907,8
12,13,18,13,6,2,4,\N,R,13,0.0,29,\N,\N,23,6,1:28.175,216.510,5
13,14,18,14,9,9,8,\N,R,14,0.0,25,\N,\N,21,11,1:29.502,213.300,4
14,15,18,15,7,11,6,\N,R,15,0.0,19,\N,\N,18,10,1:29.310,213.758,10
15,16,18,16,10,20,22,\N,R,16,0.0,8,\N,\N,8,17,1:32.021,207.461,9
16,17,18,17,9,10,14,\N,R,17,0.0,0,\N,\N,\N,\N,\N,\N,4
17,18,18,18,11,16,12,\N,R,18,0.0,0,\N,\N,\N,\N,\N,\N,4
18,19,18,19,8,19,21,\N,R,19,0.0,0,\N,\N,\N,\N,\N,\N,4
19,20,18,20,5,15,9,\N,R,20,0.0,0,\N,\N,\N,\N,\N,\N,4

In [4]:
circuits = pd.read_csv("D:/Mini Project/circuits.csv")
display(circuits)

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park
...,...,...,...,...,...,...,...,...,...
72,73,BAK,Baku City Circuit,Baku,Azerbaijan,40.37250,49.85330,-7,http://en.wikipedia.org/wiki/Baku_City_Circuit
73,74,hanoi,Hanoi Street Circuit,Hanoi,Vietnam,21.01660,105.76600,9,http://en.wikipedia.org/wiki/Hanoi_Street_Circuit
74,75,portimao,Autódromo Internacional do Algarve,Portimão,Portugal,37.22700,-8.62670,108,http://en.wikipedia.org/wiki/Algarve_Internati...
75,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.99750,11.37190,255,http://en.wikipedia.org/wiki/Mugello_Circuit
76,77,jeddah,Jeddah Street Circuit,Jeddah,Saudi Arabia,21.54330,39.17280,15,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...

In [5]:
races = pd.read_csv("D:/Mini Project/races.csv")
races.tail(19)

,raceId,year,round,circuitId,name,date,time,url
1039,1055,2021,4,4,Spanish Grand Prix,2021-05-09,13:00:00,http://en.wikipedia.org/wiki/2021_Spanish_Gran...
1040,1056,2021,5,6,Monaco Grand Prix,2021-05-23,13:00:00,http://en.wikipedia.org/wiki/2021_Monaco_Grand...
1041,1057,2021,6,73,Azerbaijan Grand Prix,2021-06-06,12:00:00,http://en.wikipedia.org/wiki/2021_Azerbaijan_G...
1042,1058,2021,8,70,Styrian Grand Prix,2021-06-27,13:00:00,http://en.wikipedia.org/wiki/2021_Styrian_Gran...
1043,1059,2021,7,34,French Grand Prix,2021-06-20,13:00:00,http://en.wikipedia.org/wiki/2021_French_Grand...
1044,1060,2021,9,70,Austrian Grand Prix,2021-07-04,13:00:00,http://en.wikipedia.org/wiki/2021_Austrian_Gra...
1045,1061,2021,10,9,British Grand Prix,2021-07-18,14:00:00,http://en.wikipedia.org/wiki/2021_British_Gran...
1046,1062,2021,11,11,Hungarian Grand Prix,2021-08-01,13:00:00,http://en.wikipedia.org/wiki/2021_Hungarian_Gr...
1047,1063,2021,12,13,Belgian Grand Prix,2021-08-29,13:00:00,http://en.wikipedia.org/wiki/2021_Belgian_Gran...
1048,1064,2021,13,39,Dutch Grand Prix,2021-09-05,13:00:00,http://en.wikipedia.org/wiki/2021_Dutch_Grand_...
1049,1065,2021,14,14,Italian Grand Prix,2021-09-12,13:00:00,http://en.wikipedia.org/wiki/2021_Italian_Gran...
1050,1066,2021,15,71,Russian Grand Prix,2021-09-26,12:00:00,http://en.wikipedia.org/wiki/2021_Russian_Gran...
1051,1067,2021,16,5,Turkish Grand Prix,2021-10-03,10:10:00,http://en.wikipedia.org/wiki/2021_Turkish_Gran...
1052,1068,2021,17,22,Japanese Grand Prix,2021-10-10,05:00:00,http://en.wikipedia.org/wiki/2021_Japanese_Gra...
1053,1069,2021,18,69,United States Grand Prix,2021-10-24,19:00:00,http://en.wikipedia.org/wiki/2021_United_State...
1054,1070,2021,19,32,Mexico City Grand Prix,2021-10-31,19:00:00,http://en.wikipedia.org/wiki/2021_Mexican_Gran...
1055,1071,2021,20,18,Brazilian Grand Prix,2021-11-07,17:00:00,http://en.wikipedia.org/wiki/2021_Brazilian_Gr...
1056,1072,2021,22,77,Saudi Arabian Grand Prix,2021-12-05,16:00:00,http://en.wikipedia.org/wiki/2021_Saudi_Arabia...
1057,1073,2021,23,24,Abu Dhabi Grand Prix,2021-12-12,13:00:00,http://en.wikipedia.org/wiki/2021_Abu_Dhabi_Gr...

In [6]:
# Filtering for race year
r2014=races[races['year']>2019]
r2014.shape

(40, 8)

In [7]:
constructor = pd.read_csv("D:/Mini Project/constructors.csv")
constructor['constructorId'].astype(int)

0        1
1        2
2        3
3        4
4        5
      ...
206    209
207    210
208    211
209    213
210    214
Name: constructorId, Length: 211, dtype: int32

In [68]:
rc = races.merge(circuits[['circuitId','name']].set_index('circuitId'), on='circuitId')
display(rc)

,raceId,year,round,circuitId,name_x,date,time,url,name_y
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,Albert Park Grand Prix Circuit
1,18,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...,Albert Park Grand Prix Circuit
2,36,2007,1,1,Australian Grand Prix,2007-03-18,03:00:00,http://en.wikipedia.org/wiki/2007_Australian_G...,Albert Park Grand Prix Circuit
3,55,2006,3,1,Australian Grand Prix,2006-04-02,14:00:00,http://en.wikipedia.org/wiki/2006_Australian_G...,Albert Park Grand Prix Circuit
4,71,2005,1,1,Australian Grand Prix,2005-03-06,14:00:00,http://en.wikipedia.org/wiki/2005_Australian_G...,Albert Park Grand Prix Circuit
...,...,...,...,...,...,...,...,...,...
1053,1057,2021,6,73,Azerbaijan Grand Prix,2021-06-06,12:00:00,http://en.wikipedia.org/wiki/2021_Azerbaijan_G...,Baku City Circuit
1054,1039,2020,9,76,Tuscan Grand Prix,2020-09-13,13:10:00,https://en.wikipedia.org/wiki/2020_Tuscan_Gran...,Autodromo Internazionale del Mugello
1055,1042,2020,12,75,Portuguese Grand Prix,2020-10-25,12:10:00,https://en.wikipedia.org/wiki/2020_Portuguese_...,Autódromo Internacional do Algarve
1056,1054,2021,3,75,Portuguese Grand Prix,2021-05-02,14:00:00,http://en.wikipedia.org/wiki/2021_Portuguese_G...,Autódromo Internacional do Algarve
1057,1072,2021,22,77,Saudi Arabian Grand Prix,2021-12-05,16:00:00,http://en.wikipedia.org/wiki/2021_Saudi_Arabia...,Jeddah Street Circuit

In [75]:
rcr=results.merge(rc[['circuitId','raceId','name_y']].set_index('raceId'), on='raceId')
rcr

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,circuitId,name_y
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,1,Albert Park Grand Prix Circuit
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1,1,Albert Park Grand Prix Circuit
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1,1,Albert Park Grand Prix Circuit
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1,1,Albert Park Grand Prix Circuit
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1,1,Albert Park Grand Prix Circuit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25135,25141,1060,849,3,6,18,16,16,16,0.0,70,\N,\N,62,11,1:08.520,226.865,11,70,Red Bull Ring
25136,25142,1060,20,117,5,11,17,17,17,0.0,69,\N,\N,51,8,1:08.420,227.196,4,70,Red Bull Ring
25137,25143,1060,854,210,47,19,18,18,18,0.0,69,\N,\N,56,18,1:09.394,224.007,12,70,Red Bull Ring
25138,25144,1060,853,210,9,20,19,19,19,0.0,69,\N,\N,49,19,1:09.757,222.842,12,70,Red Bull Ring
25139,25145,1060,839,214,31,17,\N,R,20,0.0,0,\N,\N,\N,0,\N,\N,4,70,Red Bull Ring

In [10]:
rcr['position'].astype(str)

rcr.dtypes

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
circuitId            int64
name_y              object
dtype: object

In [78]:
rcragg=rcr[rcr['position']=="1"].groupby(['circuitId','constructorId'])[['raceId']].count().reset_index()
rcraggmax=rcragg[['circuitId','constructorId','raceId']].groupby(['circuitId'])[['raceId']].max()
rcragg

     circuitId  constructorId  raceId
0            1              1       6
1            1              3       1
2            1              4       2
3            1              6       8
4            1              9       1
..         ...            ...     ...
416         71            131       7
417         73              9       2
418         73            131       3
419         75            131       2
420         76            131       1

[421 rows x 3 columns]

In [74]:
rcraggmax

           raceId
circuitId
3               2
4               2
5               1
6               1
9               1
11              1
13              1
14              1
20              1
21              1
24              1
34              1
70              2
71              1
73              1
75              2
76              1

In [13]:
merged_df = rcraggmax.merge(rcragg, how='inner', left_on=["name_y", "raceId"], right_on=["name_y","raceId"])
merged_df.rename(columns={'name_y':'Circuit_Name'},inplace=True)
merged_df.rename(columns={'raceId':'No.of_Win'},inplace=True)
merged_df

                            Circuit_Name  No.of_Win  constructorId
0          Autodromo Enzo e Dino Ferrari          1              9
1          Autodromo Enzo e Dino Ferrari          1            131
2   Autodromo Internazionale del Mugello          1            131
3           Autodromo Nazionale di Monza          1            213
4     Autódromo Internacional do Algarve          2            131
5          Bahrain International Circuit          2            131
6                      Baku City Circuit          1              9
7                    Circuit Paul Ricard          1              9
8         Circuit de Barcelona-Catalunya          2            131
9                      Circuit de Monaco          1              9
10          Circuit de Spa-Francorchamps          1            131
11                           Hungaroring          1            131
12                         Istanbul Park          1            131
13                           Nürburgring          1            131
14                         Red Bull Ring          2              9
15                         Red Bull Ring          2            131
16                   Silverstone Circuit          1              9
17                   Silverstone Circuit          1            131
18                        Sochi Autodrom          1            131
19                    Yas Marina Circuit          1              9

In [14]:
c=merged_df.merge(constructor, how='inner', left_on=["constructorId"], right_on=["constructorId"])
c

,Circuit_Name,No.of_Win,constructorId,constructorRef,name,nationality,url
0,Autodromo Enzo e Dino Ferrari,1,9,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing
1,Baku City Circuit,1,9,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing
2,Circuit Paul Ricard,1,9,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing
3,Circuit de Monaco,1,9,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing
4,Red Bull Ring,2,9,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing
5,Silverstone Circuit,1,9,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing
6,Yas Marina Circuit,1,9,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing
7,Autodromo Enzo e Dino Ferrari,1,131,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
8,Autodromo Internazionale del Mugello,1,131,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
9,Autódromo Internacional do Algarve,2,131,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
10,Bahrain International Circuit,2,131,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
11,Circuit de Barcelona-Catalunya,2,131,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
12,Circuit de Spa-Francorchamps,1,131,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
13,Hungaroring,1,131,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
14,Istanbul Park,1,131,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
15,Nürburgring,1,131,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
16,Red Bull Ring,2,131,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
17,Silverstone Circuit,1,131,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
18,Sochi Autodrom,1,131,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
19,Autodromo Nazionale di Monza,1,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri

In [15]:
MostWin=c[["Circuit_Name","name","No.of_Win"]]
MostWin.loc[MostWin['Circuit_Name'] == 'Circuit Paul Ricard']

          Circuit_Name      name  No.of_Win
2  Circuit Paul Ricard  Red Bull          1

In [16]:
# MostWin table showing the constructor with the highest number of win for each track for 2020-2021 season (up to Styrian GP)
# realise that uploading this to PowerBI won't allow for any further race year filter as the aggregated no. of wins is already
# detatched from each respective raceID and race year
MostWin

                            Circuit_Name        name  No.of_Win
0          Autodromo Enzo e Dino Ferrari    Red Bull          1
1                      Baku City Circuit    Red Bull          1
2                    Circuit Paul Ricard    Red Bull          1
3                      Circuit de Monaco    Red Bull          1
4                          Red Bull Ring    Red Bull          2
5                    Silverstone Circuit    Red Bull          1
6                     Yas Marina Circuit    Red Bull          1
7          Autodromo Enzo e Dino Ferrari    Mercedes          1
8   Autodromo Internazionale del Mugello    Mercedes          1
9     Autódromo Internacional do Algarve    Mercedes          2
10         Bahrain International Circuit    Mercedes          2
11        Circuit de Barcelona-Catalunya    Mercedes          2
12          Circuit de Spa-Francorchamps    Mercedes          1
13                           Hungaroring    Mercedes          1
14                         Istanbul Park    Mercedes          1
15                           Nürburgring    Mercedes          1
16                         Red Bull Ring    Mercedes          2
17                   Silverstone Circuit    Mercedes          1
18                        Sochi Autodrom    Mercedes          1
19          Autodromo Nazionale di Monza  AlphaTauri          1

In [17]:
e=r2014.merge(circuits,how='inner', left_on=['circuitId'],right_on=['circuitId'])
r2014_merge=e[['circuitId','name_y','year','name_x']]
Circuits_Hybridera=r2014_merge['name_y'].unique()
Circuits_Hybridera

array(['Red Bull Ring', 'Hungaroring', 'Silverstone Circuit',
       'Circuit de Barcelona-Catalunya', 'Circuit de Spa-Francorchamps',
       'Autodromo Nazionale di Monza',
       'Autodromo Internazionale del Mugello', 'Sochi Autodrom',
       'Nürburgring', 'Autódromo Internacional do Algarve',
       'Autodromo Enzo e Dino Ferrari', 'Istanbul Park',
       'Bahrain International Circuit', 'Yas Marina Circuit',
       'Albert Park Grand Prix Circuit', 'Circuit de Monaco',
       'Baku City Circuit', 'Circuit Paul Ricard',
       'Circuit Park Zandvoort', 'Suzuka Circuit',
       'Circuit of the Americas', 'Autódromo Hermanos Rodríguez',
       'Autódromo José Carlos Pace', 'Jeddah Street Circuit'],
      dtype=object)

In [18]:
df = pd.DataFrame({'circuits':r2014_merge['name_y'].unique()})
df

                                circuits
0                          Red Bull Ring
1                            Hungaroring
2                    Silverstone Circuit
3         Circuit de Barcelona-Catalunya
4           Circuit de Spa-Francorchamps
5           Autodromo Nazionale di Monza
6   Autodromo Internazionale del Mugello
7                         Sochi Autodrom
8                            Nürburgring
9     Autódromo Internacional do Algarve
10         Autodromo Enzo e Dino Ferrari
11                         Istanbul Park
12         Bahrain International Circuit
13                    Yas Marina Circuit
14        Albert Park Grand Prix Circuit
15                     Circuit de Monaco
16                     Baku City Circuit
17                   Circuit Paul Ricard
18                Circuit Park Zandvoort
19                        Suzuka Circuit
20               Circuit of the Americas
21          Autódromo Hermanos Rodríguez
22            Autódromo José Carlos Pace
23                 Jeddah Street Circuit

In [19]:
g=MostWin.merge(df,how='inner', left_on=['Circuit_Name'],right_on=['circuits'])
h=g[['Circuit_Name','name','No.of_Win']]
h.rename(columns={'name':'Constructor'},inplace=True)
h

C:\Users\Markus\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

                            Circuit_Name Constructor  No.of_Win
0          Autodromo Enzo e Dino Ferrari    Red Bull          1
1          Autodromo Enzo e Dino Ferrari    Mercedes          1
2                      Baku City Circuit    Red Bull          1
3                    Circuit Paul Ricard    Red Bull          1
4                      Circuit de Monaco    Red Bull          1
5                          Red Bull Ring    Red Bull          2
6                          Red Bull Ring    Mercedes          2
7                    Silverstone Circuit    Red Bull          1
8                    Silverstone Circuit    Mercedes          1
9                     Yas Marina Circuit    Red Bull          1
10  Autodromo Internazionale del Mugello    Mercedes          1
11    Autódromo Internacional do Algarve    Mercedes          2
12         Bahrain International Circuit    Mercedes          2
13        Circuit de Barcelona-Catalunya    Mercedes          2
14          Circuit de Spa-Francorchamps    Mercedes          1
15                           Hungaroring    Mercedes          1
16                         Istanbul Park    Mercedes          1
17                           Nürburgring    Mercedes          1
18                        Sochi Autodrom    Mercedes          1
19          Autodromo Nazionale di Monza  AlphaTauri          1

In [21]:
# Making a table with raceID, driverId, and cumulative number of overtakes
Laptimes = pd.read_csv("D:/Mini Project/lap_times.csv")
Laptimes

        raceId  driverId  lap  position     time  milliseconds
0          841        20    1         1  01:38.1         98109
1          841        20    2         1  01:33.0         93006
2          841        20    3         1  01:32.7         92713
3          841        20    4         1  01:32.8         92803
4          841        20    5         1  01:32.3         92342
...        ...       ...  ...       ...      ...           ...
501581    1060         8    1        15  01:50.5        110522
501582    1060         4    1        16  01:51.7        111658
501583    1060       854    1        17  01:53.1        113050
501584    1060       849    1        18  01:55.3        115251
501585    1060       853    1        19  01:57.0        117036

[501586 rows x 6 columns]

In [22]:
Laptimes.tail(20)

        raceId  driverId  lap  position     time  milliseconds
501566    1060       853    2        18  01:50.4        110392
501567    1060       830    1         1  01:27.8         87835
501568    1060       846    1         2  01:30.9         90875
501569    1060       815    1         3  01:33.4         93418
501570    1060         1    1         4  01:35.0         95027
501571    1060       822    1         5  01:35.9         95924
501572    1060       842    1         6  01:37.7         97666
501573    1060       852    1         7  01:39.4         99370
501574    1060       840    1         8  01:41.7        101722
501575    1060        20    1         9  01:43.4        103358
501576    1060       844    1        10  01:44.3        104259
501577    1060       817    1        11  01:46.5        106476
501578    1060       841    1        12  01:47.5        107502
501579    1060       847    1        13  01:48.8        108842
501580    1060       832    1        14  01:49.6        109634
501581    1060         8    1        15  01:50.5        110522
501582    1060         4    1        16  01:51.7        111658
501583    1060       854    1        17  01:53.1        113050
501584    1060       849    1        18  01:55.3        115251
501585    1060       853    1        19  01:57.0        117036

In [64]:
Laptimes['lag'] = Laptimes.sort_values(by=['lap'], ascending=True).groupby(['raceId','driverId'])['position'].shift(1)
Laptimes.head(60)

,raceId,driverId,lap,position,time,milliseconds,lag,Overtake,poschange
0,841,20,1,1,01:38.1,98109,NaN,0.0,NaN
1,841,20,2,1,01:33.0,93006,1.0,0.0,0.0
2,841,20,3,1,01:32.7,92713,1.0,0.0,0.0
3,841,20,4,1,01:32.8,92803,1.0,0.0,0.0
4,841,20,5,1,01:32.3,92342,1.0,0.0,0.0
5,841,20,6,1,01:32.6,92605,1.0,0.0,0.0
6,841,20,7,1,01:32.5,92502,1.0,0.0,0.0
7,841,20,8,1,01:32.5,92537,1.0,0.0,0.0
8,841,20,9,1,01:33.2,93240,1.0,0.0,0.0
9,841,20,10,1,01:32.6,92572,1.0,0.0,0.0
10,841,20,11,1,01:32.7,92669,1.0,0.0,0.0
11,841,20,12,1,01:32.9,92902,1.0,0.0,0.0
12,841,20,13,1,01:33.7,93698,1.0,0.0,0.0
13,841,20,14,3,01:52.1,112075,1.0,0.0,-2.0
14,841,20,15,4,01:38.4,98385,3.0,0.0,-1.0
15,841,20,16,2,01:31.5,91548,4.0,2.0,2.0
16,841,20,17,1,01:30.8,90800,2.0,1.0,1.0
17,841,20,18,1,01:31.8,91810,1.0,0.0,0.0
18,841,20,19,1,01:31.0,91018,1.0,0.0,0.0
19,841,20,20,1,01:31.1,91055,1.0,0.0,0.0
20,841,20,21,1,01:31.3,91288,1.0,0.0,0.0
21,841,20,22,1,01:31.1,91084,1.0,0.0,0.0
22,841,20,23,1,01:30.9,90875,1.0,0.0,0.0
23,841,20,24,1,01:32.2,92240,1.0,0.0,0.0
24,841,20,25,1,01:31.7,91699,1.0,0.0,0.0
25,841,20,26,1,01:31.3,91328,1.0,0.0,0.0
26,841,20,27,1,01:31.6,91568,1.0,0.0,0.0
27,841,20,28,1,01:31.1,91113,1.0,0.0,0.0
28,841,20,29,1,01:31.3,91339,1.0,0.0,0.0
29,841,20,30,1,01:31.1,91054,1.0,0.0,0.0
30,841,20,31,1,01:31.7,91707,1.0,0.0,0.0
31,841,20,32,1,01:31.6,91611,1.0,0.0,0.0
32,841,20,33,1,01:31.4,91406,1.0,0.0,0.0
33,841,20,34,1,01:31.9,91871,1.0,0.0,0.0
34,841,20,35,1,01:32.6,92597,1.0,0.0,0.0
35,841,20,36,1,01:53.7,113737,1.0,0.0,0.0
36,841,20,37,1,01:39.3,99321,1.0,0.0,0.0
37,841,20,38,1,01:33.6,93632,1.0,0.0,0.0
38,841,20,39,1,01:31.0,91005,1.0,0.0,0.0
39,841,20,40,1,01:30.5,90530,1.0,0.0,0.0
40,841,20,41,1,01:30.1,90140,1.0,0.0,0.0
41,841,20,42,1,01:30.4,90419,1.0,0.0,0.0
42,841,20,43,1,01:30.5,90503,1.0,0.0,0.0
43,841,20,44,1,01:29.8,89844,1.0,0.0,0.0
44,841,20,45,1,01:30.5,90470,1.0,0.0,0.0
45,841,20,46,1,01:30.7,90669,1.0,0.0,0.0
46,841,20,47,1,01:30.3,90297,1.0,0.0,0.0
47,841,20,48,1,01:30.5,90471,1.0,0.0,0.0
48,841,20,49,1,01:30.7,90710,1.0,0.0,0.0
49,841,20,50,1,01:30.7,90732,1.0,0.0,0.0
50,841,20,51,1,01:30.9,90873,1.0,0.0,0.0
51,841,20,52,1,01:31.1,91087,1.0,0.0,0.0
52,841,20,53,1,01:30.7,90671,1.0,0.0,0.0
53,841,20,54,1,01:30.7,90656,1.0,0.0,0.0
54,841,20,55,1,01:30.9,90899,1.0,0.0,0.0
55,841,20,56,1,01:30.0,89962,1.0,0.0,0.0
56,841,20,57,1,01:30.5,90516,1.0,0.0,0.0
57,841,20,58,1,01:31.9,91946,1.0,0.0,0.0
58,841,1,1,2,01:40.6,100573,NaN,0.0,NaN
59,841,1,2,2,01:33.8,93774,2.0,0.0,0.0

In [54]:
import numpy as np
Laptimes['Overtake']= np.where(Laptimes['lag']-Laptimes['position']>0,Laptimes['lag']-Laptimes['position'],0)

Laptimes.head(60)

    raceId  driverId  lap  position     time  milliseconds  lag  Overtake
0      841        20    1         1  01:38.1         98109  NaN       0.0
1      841        20    2         1  01:33.0         93006  1.0       0.0
2      841        20    3         1  01:32.7         92713  1.0       0.0
3      841        20    4         1  01:32.8         92803  1.0       0.0
4      841        20    5         1  01:32.3         92342  1.0       0.0
5      841        20    6         1  01:32.6         92605  1.0       0.0
6      841        20    7         1  01:32.5         92502  1.0       0.0
7      841        20    8         1  01:32.5         92537  1.0       0.0
8      841        20    9         1  01:33.2         93240  1.0       0.0
9      841        20   10         1  01:32.6         92572  1.0       0.0
10     841        20   11         1  01:32.7         92669  1.0       0.0
11     841        20   12         1  01:32.9         92902  1.0       0.0
12     841        20   13         1  01:33.7         93698  1.0       0.0
13     841        20   14         3  01:52.1        112075  1.0       0.0
14     841        20   15         4  01:38.4         98385  3.0       0.0
15     841        20   16         2  01:31.5         91548  4.0       2.0
16     841        20   17         1  01:30.8         90800  2.0       1.0
17     841        20   18         1  01:31.8         91810  1.0       0.0
18     841        20   19         1  01:31.0         91018  1.0       0.0
19     841        20   20         1  01:31.1         91055  1.0       0.0
20     841        20   21         1  01:31.3         91288  1.0       0.0
21     841        20   22         1  01:31.1         91084  1.0       0.0
22     841        20   23         1  01:30.9         90875  1.0       0.0
23     841        20   24         1  01:32.2         92240  1.0       0.0
24     841        20   25         1  01:31.7         91699  1.0       0.0
25     841        20   26         1  01:31.3         91328  1.0       0.0
26     841        20   27         1  01:31.6         91568  1.0       0.0
27     841        20   28         1  01:31.1         91113  1.0       0.0
28     841        20   29         1  01:31.3         91339  1.0       0.0
29     841        20   30         1  01:31.1         91054  1.0       0.0
30     841        20   31         1  01:31.7         91707  1.0       0.0
31     841        20   32         1  01:31.6         91611  1.0       0.0
32     841        20   33         1  01:31.4         91406  1.0       0.0
33     841        20   34         1  01:31.9         91871  1.0       0.0
34     841        20   35         1  01:32.6         92597  1.0       0.0
35     841        20   36         1  01:53.7        113737  1.0       0.0
36     841        20   37         1  01:39.3         99321  1.0       0.0
37     841        20   38         1  01:33.6         93632  1.0       0.0
38     841        20   39         1  01:31.0         91005  1.0       0.0
39     841        20   40         1  01:30.5         90530  1.0       0.0
40     841        20   41         1  01:30.1         90140  1.0       0.0
41     841        20   42         1  01:30.4         90419  1.0       0.0
42     841        20   43         1  01:30.5         90503  1.0       0.0
43     841        20   44         1  01:29.8         89844  1.0       0.0
44     841        20   45         1  01:30.5         90470  1.0       0.0
45     841        20   46         1  01:30.7         90669  1.0       0.0
46     841        20   47         1  01:30.3         90297  1.0       0.0
47     841        20   48         1  01:30.5         90471  1.0       0.0
48     841        20   49         1  01:30.7         90710  1.0       0.0
49     841        20   50         1  01:30.7         90732  1.0       0.0
50     841        20   51         1  01:30.9         90873  1.0       0.0
51     841        20   52         1  01:31.1         91087  1.0       0.0
52     841        20   53         1  01:30.7         90671  1.0       0.0
53     841        20   54         1  01:30.7         90656  1.0       0.0
54     841        20   55         1  01:30.9         90899  1.0       0.0
55     841        20   56         1  01:30.0         89962  1.0       0.0
56     841        20   57         1  01:30.5         90516  1.0       0.0
57     841        20   58         1  01:31.9         91946  1.0       0.0
58     841         1    1         2  01:40.6        100573  NaN       0.0
59     841         1    2         2  01:33.8         93774  2.0       0.0

In [89]:
Laptimes[(Laptimes['raceId']==1) & (Laptimes['driverId']==1)]

,raceId,driverId,lap,position,time,milliseconds,lag,Overtake,poschange
342881,1,1,1,13,01:49.1,109088,NaN,0.0,NaN
342882,1,1,2,12,01:33.7,93740,13.0,1.0,1.0
342883,1,1,3,11,01:31.6,91600,12.0,1.0,1.0
342884,1,1,4,10,01:31.1,91067,11.0,1.0,1.0
342885,1,1,5,10,01:32.1,92129,10.0,0.0,0.0
342886,1,1,6,9,01:30.5,90469,10.0,1.0,1.0
342887,1,1,7,9,01:29.5,89488,9.0,0.0,0.0
342888,1,1,8,9,01:30.3,90302,9.0,0.0,0.0
342889,1,1,9,9,01:30.9,90889,9.0,0.0,0.0
342890,1,1,10,8,01:32.4,92418,9.0,1.0,1.0
342891,1,1,11,14,01:55.5,115549,8.0,0.0,-6.0
342892,1,1,12,15,01:38.0,98029,14.0,0.0,-1.0
342893,1,1,13,15,01:32.4,92372,15.0,0.0,0.0
342894,1,1,14,15,01:31.7,91749,15.0,0.0,0.0
342895,1,1,15,15,01:30.8,90771,15.0,0.0,0.0
342896,1,1,16,15,01:30.8,90751,15.0,0.0,0.0
342897,1,1,17,15,01:31.0,90984,15.0,0.0,0.0
342898,1,1,18,14,01:35.6,95580,15.0,1.0,1.0
342899,1,1,19,13,01:41.9,101892,14.0,1.0,1.0
342900,1,1,20,12,01:45.4,105445,13.0,1.0,1.0
342901,1,1,21,12,01:38.7,98683,12.0,0.0,0.0
342902,1,1,22,12,02:33.3,153309,12.0,0.0,0.0
342903,1,1,23,12,02:32.4,152352,12.0,0.0,0.0
342904,1,1,24,12,02:16.2,136183,12.0,0.0,0.0
342905,1,1,25,10,01:36.9,96863,12.0,2.0,2.0
342906,1,1,26,10,01:32.2,92198,10.0,0.0,0.0
342907,1,1,27,10,01:31.3,91291,10.0,0.0,0.0
342908,1,1,28,10,01:30.4,90377,10.0,0.0,0.0
342909,1,1,29,10,01:30.1,90077,10.0,0.0,0.0
342910,1,1,30,10,01:29.9,89912,10.0,0.0,0.0
342911,1,1,31,9,01:29.7,89743,10.0,1.0,1.0
342912,1,1,32,9,01:30.0,90027,9.0,0.0,0.0
342913,1,1,33,8,01:29.6,89560,9.0,1.0,1.0
342914,1,1,34,8,01:29.7,89723,8.0,0.0,0.0
342915,1,1,35,8,01:29.5,89474,8.0,0.0,0.0
342916,1,1,36,8,01:29.9,89894,8.0,0.0,0.0
342917,1,1,37,8,01:29.4,89422,8.0,0.0,0.0
342918,1,1,38,8,01:29.1,89104,8.0,0.0,0.0
342919,1,1,39,7,01:29.0,89020,8.0,1.0,1.0
342920,1,1,40,6,01:30.3,90261,7.0,1.0,1.0
342921,1,1,41,5,01:29.8,89824,6.0,1.0,1.0
342922,1,1,42,5,01:29.5,89484,5.0,0.0,0.0
342923,1,1,43,8,01:47.5,107494,5.0,0.0,-3.0
342924,1,1,44,10,01:35.1,95135,8.0,0.0,-2.0
342925,1,1,45,10,01:29.4,89444,10.0,0.0,0.0
342926,1,1,46,10,01:30.2,90224,10.0,0.0,0.0
342927,1,1,47,10,01:30.5,90528,10.0,0.0,0.0
342928,1,1,48,10,01:30.1,90147,10.0,0.0,0.0
342929,1,1,49,9,01:31.2,91175,10.0,1.0,1.0
342930,1,1,50,9,01:30.1,90082,9.0,0.0,0.0
342931,1,1,51,8,01:29.6,89611,9.0,1.0,1.0
342932,1,1,52,7,01:29.7,89722,8.0,1.0,1.0
342933,1,1,53,7,01:29.6,89599,7.0,0.0,0.0
342934,1,1,54,6,01:31.1,91129,7.0,1.0,1.0
342935,1,1,55,6,01:30.1,90149,6.0,0.0,0.0
342936,1,1,56,3,01:47.8,107829,6.0,3.0,3.0
342937,1,1,57,4,02:14.4,134442,3.0,0.0,-1.0
342938,1,1,58,4,02:30.9,150895,4.0,0.0,0.0

In [51]:
# Table with raceId, driverId, and cumulative number of overtakes
ot=Laptimes.groupby(['raceId','driverId'])[['Overtake']].sum().reset_index()
ot.head(20)

    raceId  driverId  Overtake
0        1         1      22.0
1        1         2       8.0
2        1         3      20.0
3        1         4      21.0
4        1         6       4.0
5        1         7       8.0
6        1         8      12.0
7        1         9      14.0
8        1        10      19.0
9        1        12       7.0
10       1        13      12.0
11       1        15      21.0
12       1        16      15.0
13       1        17       7.0
14       1        18       0.0
15       1        20       0.0
16       1        21      17.0
17       1        22      16.0
18       1        67      17.0
19       2         1       9.0

In [58]:
ot[ot['raceId']==1]

    raceId  driverId  Overtake
0        1         1      22.0
1        1         2       8.0
2        1         3      20.0
3        1         4      21.0
4        1         6       4.0
5        1         7       8.0
6        1         8      12.0
7        1         9      14.0
8        1        10      19.0
9        1        12       7.0
10       1        13      12.0
11       1        15      21.0
12       1        16      15.0
13       1        17       7.0
14       1        18       0.0
15       1        20       0.0
16       1        21      17.0
17       1        22      16.0
18       1        67      17.0

In [50]:
ot.groupby(['raceId'])[['Overtake']].sum()

        Overtake
raceId
1          240.0
2          148.0
3          261.0
4          179.0
5          111.0
...          ...
1056        46.0
1057       166.0
1058        99.0
1059       166.0
1060       173.0

[463 rows x 1 columns]

In [60]:
Laptimes['poschange']=Laptimes['lag']-Laptimes['position']
Laptimes.head(20)

,raceId,driverId,lap,position,time,milliseconds,lag,Overtake,poschange
0,841,20,1,1,01:38.1,98109,NaN,0.0,NaN
1,841,20,2,1,01:33.0,93006,1.0,0.0,0.0
2,841,20,3,1,01:32.7,92713,1.0,0.0,0.0
3,841,20,4,1,01:32.8,92803,1.0,0.0,0.0
4,841,20,5,1,01:32.3,92342,1.0,0.0,0.0
5,841,20,6,1,01:32.6,92605,1.0,0.0,0.0
6,841,20,7,1,01:32.5,92502,1.0,0.0,0.0
7,841,20,8,1,01:32.5,92537,1.0,0.0,0.0
8,841,20,9,1,01:33.2,93240,1.0,0.0,0.0
9,841,20,10,1,01:32.6,92572,1.0,0.0,0.0
10,841,20,11,1,01:32.7,92669,1.0,0.0,0.0
11,841,20,12,1,01:32.9,92902,1.0,0.0,0.0
12,841,20,13,1,01:33.7,93698,1.0,0.0,0.0
13,841,20,14,3,01:52.1,112075,1.0,0.0,-2.0
14,841,20,15,4,01:38.4,98385,3.0,0.0,-1.0
15,841,20,16,2,01:31.5,91548,4.0,2.0,2.0
16,841,20,17,1,01:30.8,90800,2.0,1.0,1.0
17,841,20,18,1,01:31.8,91810,1.0,0.0,0.0
18,841,20,19,1,01:31.0,91018,1.0,0.0,0.0
19,841,20,20,1,01:31.1,91055,1.0,0.0,0.0

In [63]:
# Table with raceId, driverId, and cumulative number of position change from race start to finish
posfin=Laptimes.groupby(['raceId','driverId'])[['poschange']].sum().reset_index()
posfin.head(20)

    raceId  driverId  poschange
0        1         1        9.0
1        1         2        6.0
2        1         3       -1.0
3        1         4        8.0
4        1         6        4.0
5        1         7        3.0
6        1         8      -10.0
7        1         9        1.0
8        1        10       11.0
9        1        12        2.0
10       1        13       -8.0
11       1        15       12.0
12       1        16        8.0
13       1        17        6.0
14       1        18        0.0
15       1        20       -5.0
16       1        21       -1.0
17       1        22        5.0
18       1        67        2.0
19       2         1        3.0

In [66]:
ot.to_csv(r'D:/Mini Project/Overtakes.csv',index=False)

In [67]:
ot.shape

(9466, 3)

In [83]:
ot[ot['raceId']==1]

    raceId  driverId  Overtake
0        1         1      22.0
1        1         2       8.0
2        1         3      20.0
3        1         4      21.0
4        1         6       4.0
5        1         7       8.0
6        1         8      12.0
7        1         9      14.0
8        1        10      19.0
9        1        12       7.0
10       1        13      12.0
11       1        15      21.0
12       1        16      15.0
13       1        17       7.0
14       1        18       0.0
15       1        20       0.0
16       1        21      17.0
17       1        22      16.0
18       1        67      17.0